<connectionStrings>
  <add name="TeduShopConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=TeduShopAPI;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
  <add name="BackupConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=BackupAPI;Integrated Security=False;User Id=sa;Password=123456;MultipleActiveResultSets=True" />
</connectionStrings>